@import "../../styles/mixin";
@import "../../styles/variable";

.product__view__page {
  display: flex;
  height: 100%;
  z-index: 1;

  @include md {
    flex-direction: column;
    gap: 20px;
    overflow: scroll;
  }

  .product__detail {
    flex: 3;
    height: 100%;
    overflow-y: scroll;

    @include md {
      flex: none;
      height: max-content;
    }

    .product__detail__wrapper {
      padding-right: 20px;

      .product__information {
        margin-top: 50px;


        .product__info__top {
          display: flex;
          justify-content: space-between;

          .product__top__post {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h1 {
              font-weight: 400;
            }

            .product__address {
              display: flex;
              align-items: center;
              gap: 5px;
              color: #888;
              font-size: 14px;
            }

            .product__price {
              width: max-content;
              display: flex;
              align-items: center;
              font-size: 16px;
              background-color: orange;
              padding: 3px 5px;
              color: white;
            }
          }

          .product__post__user {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgba(254, 205, 81, .209);
            border-radius: 10px;
            gap: 10px;
            padding: 0 50px;
            font-weight: 600;


            p {
              font-size: 20px;
              font-weight: 400;
            }

            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
        }


        .product__info__bottom {
          margin-top: 50px;
          color: #555;
          line-height: 20px;
        }
      }
    }
  }

  .product__features {
    flex: 2;
    height: 100%;
    overflow-y: scroll;
    background-color: #fcf5f3;

    @include md {
      flex: none;
      height: max-content;
    }

    .product__features__wrapper {
      padding: 0 20px;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: space-between;

      .feature__title {
        font-size: 16px;
        font-weight: 600;
      }

      .list__feature {
        display: flex;
        align-items: center;
        gap: 5px;

        .list__feature__icon {
          font-size: 26px;
          color: orange;
        }
      }

      .list__vertical {
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        background-color: white;
        gap: 20px;
        border-radius: 10px;
      }

      .list__horizontal {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: white;
        border-radius: 10px;
      }

      .map__container {
        position: relative;
      }

      .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 10px;

        button {
          display: flex;
          align-items: center;
          border: none;
          font-size: 16px;
          font-weight: 300;
          padding: 5px 10px;
          background-color: white;
          border: 1px solid orange;
          border-radius: 5px;
          cursor: pointer;

          .action__icon {
            font-size: 26px;
          }
        }
      }
    }
  }
}